<div class="span5 alert alert-success">
    
***
# <span style = 'color:darkblue'> <center> $ \textrm {Import Required Libraries} $

***
</span>
</div>

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import operator

from sklearn import linear_model
from sklearn.metrics import auc, roc_curve
from sklearn.preprocessing import normalize
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeRegressor
from sklearn.datasets import make_classification
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

from IPython.display import Markdown, display

%matplotlib inline

<div class="span5 alert alert-success">
    
***
# <span style = 'color:darkblue'> <center> $ \textrm {Function Definitions} $

***
</span>
</div>

In [5]:
def zeroDiagonal(dataTable, dimension):
    ''' Replace Dataframe n x n matrix diagonal values with zero '''
    for i in range(dimension):
        for j in range(dimension):
            if i==j:
                dataTable.iloc[i,j]=0

    return(dataTable)

<div class="span5 alert alert-success">
    
***
# <span style = 'color:darkblue'> <center> $ \textrm {Exploratory Data Analysis} $

***
</span>
</div>

## <center> $ \color{darkblue} {\textrm {Read file, add feature names, and examine data with  'describe()'  method} } $

In [ ]:
display(Markdown('adultIncome_df = pd.read_csv(\'../UCI-Adult-Income/adult_data_copy.csv\', header= None, index_col = False)'))
display(Markdown('adultIncome_df.head()'))

In [24]:
adultIncome_df = pd.read_csv('../UCI-Adult-Income/adult_data_copy.csv',  index_col = False)
adultIncome_df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [25]:
adultIncome_df = pd.read_csv('../UCI-Adult-Income/adult_data_copy.csv', header = None, index_col = False)
adultIncome_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [31]:
# Load the Adult income dataset to a dataframe and specifiy column names
adultIncome_df = pd.read_csv('../UCI-Adult-Income/adult_data_copy.csv', 
                 header= None, index_col = False,
                 names =['Age',
                         'Workclass',
                         'FNL-Wgt',
                         'Education', 
                         'Education-Years', 
                         'Marital Status',
                         'Occupation',
                         'Relationship',
                         'Race', 
                         'Gender', 
                         'Capital-Gain',
                         'Capital-Loss', 
                         'Hours-per-Week', 
                         'Citizenship',
                         'Income50K'])
adultIncome_df.head()

,Age,Workclass,FNL-Wgt,Education,Education-Years,Marital Status,Occupation,Relationship,Race,Gender,Capital-Gain,Capital-Loss,Hours-per-Week,Citizenship,Income50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [33]:
print(adultIncome_df)

       Age          Workclass  FNL-Wgt      Education  Education-Years  \
0       39          State-gov    77516      Bachelors               13
1       50   Self-emp-not-inc    83311      Bachelors               13
2       38            Private   215646        HS-grad                9
3       53            Private   234721           11th                7
4       28            Private   338409      Bachelors               13
5       37            Private   284582        Masters               14
6       49            Private   160187            9th                5
7       52   Self-emp-not-inc   209642        HS-grad                9
8       31            Private    45781        Masters               14
9       42            Private   159449      Bachelors               13
10      37            Private   280464   Some-college               10
11      30          State-gov   141297      Bachelors               13
12      23            Private   122272      Bachelors               13
13      32            Private   205019     Assoc-acdm               12
14      40            Private   121772      Assoc-voc               11
15      34            Private   245487        7th-8th                4
16      25   Self-emp-not-inc   176756        HS-grad                9
17      32            Private   186824        HS-grad                9
18      38            Private    28887           11th                7
19      43   Self-emp-not-inc   292175        Masters               14
20      40            Private   193524      Doctorate               16
21      54            Private   302146        HS-grad                9
22      35        Federal-gov    76845            9th                5
23      43            Private   117037           11th                7
24      59            Private   109015        HS-grad                9
25      56          Local-gov   216851      Bachelors               13
26      19            Private   168294        HS-grad                9
27      54                  ?   180211   Some-college               10
28      39            Private   367260        HS-grad                9
29      49            Private   193366        HS-grad                9
...    ...                ...      ...            ...              ...
32531   30                  ?    33811      Bachelors               13
32532   34            Private   204461      Doctorate               16
32533   54            Private   337992      Bachelors               13
32534   37            Private   179137   Some-college               10
32535   22            Private   325033           12th                8
32536   34            Private   160216      Bachelors               13
32537   30            Private   345898        HS-grad                9
32538   38            Private   139180      Bachelors               13
32539   71                  ?   287372      Doctorate               16
32540   45          State-gov   252208        HS-grad                9
32541   41                  ?   202822        HS-grad                9
32542   72                  ?   129912        HS-grad                9
32543   45          Local-gov   119199     Assoc-acdm               12
32544   31            Private   199655        Masters               14
32545   39          Local-gov   111499     Assoc-acdm               12
32546   37            Private   198216     Assoc-acdm               12
32547   43            Private   260761        HS-grad                9
32548   65   Self-emp-not-inc    99359    Prof-school               15
32549   43          State-gov   255835   Some-college               10
32550   43   Self-emp-not-inc    27242   Some-college               10
32551   32            Private    34066           10th                6
32552   43            Private    84661      Assoc-voc               11
32553   32            Private   116138        Masters               14
32554   53            Private   321865        Masters               14
32555   22            Private   310152   Some-college               10
32556   27            Private   257302     Assoc-acdm               12
32557   40            Private   154374        HS-grad                9
32558   58            Private   151910        HS-grad                9
32559   22            Private   201490        HS-grad                9
32560   52       Self-emp-inc   287927        HS-grad                9

               Marital Status          Occupation     Relationship  \
0               Never-married        Adm-clerical    Not-in-family
1          Married-civ-spouse     Exec-managerial          Husband
2                    Divorced   Handlers-cleaners    Not-in-family
3          Married-civ-spouse   Handlers-cleaners          Husband
4          Married-civ-spouse      Prof-specialty             Wife
5          Married-civ-spouse     Exec-managerial             Wife
6       Married-spouse-absent       Other-service    Not-in-family
7          Married-civ-spouse     Exec-managerial          Husband
8               Never-married      Prof-specialty    Not-in-family
9          Married-civ-spouse     Exec-managerial          Husband
10         Married-civ-spouse     Exec-managerial          Husband
11         Married-civ-spouse      Prof-specialty          Husband
12              Never-married        Adm-clerical        Own-child
13              Never-married               Sales    Not-in-family
14         Married-civ-spouse        Craft-repair          Husband
15         Married-civ-spouse    Transport-moving          Husband
16              Never-married     Farming-fishing        Own-child
17              Never-married   Machine-op-inspct        Unmarried
18         Married-civ-spouse               Sales          Husband
19                   Divorced     Exec-managerial        Unmarried
20         Married-civ-spouse      Prof-specialty          Husband
21                  Separated       Other-service        Unmarried
22         Married-civ-spouse     Farming-fishing          Husband
23         Married-civ-spouse    Transport-moving          Husband
24                   Divorced        Tech-support        Unmarried
25         Married-civ-spouse        Tech-support          Husband
26              Never-married        Craft-repair        Own-child
27         Married-civ-spouse                   ?          Husband
28                   Divorced     Exec-managerial    Not-in-family
29         Married-civ-spouse        Craft-repair          Husband
...                       ...                 ...              ...
32531           Never-married                   ?    Not-in-family
32532      Married-civ-spouse      Prof-specialty          Husband
32533      Married-civ-spouse     Exec-managerial          Husband
32534                Divorced        Adm-clerical        Unmarried
32535           Never-married     Protective-serv        Own-child
32536           Never-married     Exec-managerial    Not-in-family
32537           Never-married        Craft-repair    Not-in-family
32538                Divorced      Prof-specialty        Unmarried
32539      Married-civ-spouse                   ?          Husband
32540               Separated        Adm-clerical        Own-child
32541               Separated                   ?    Not-in-family
32542      Married-civ-spouse                   ?          Husband
32543                Divorced      Prof-specialty        Unmarried
32544                Divorced       Other-service    Not-in-family
32545      Married-civ-spouse        Adm-clerical             Wife
32546                Divorced        Tech-support    Not-in-family
32547      Married-civ-spouse   Machine-op-inspct          Husband
32548           Never-married      Prof-specialty    Not-in-family
32549                Divorced        Adm-clerical   Other-relative
32550      Married-civ-spouse        Craft-repair          Husband
32551      Married-civ-spouse   Handlers-cleaners          Husband
32552      Married-civ-spouse               Sales          Husband
32553           Never-married        Tech-support    Not-in-family
32554      Married-civ-spouse     Exec-managerial          Husband
32555           Never-married     Protective-serv    Not-in-family
32556      Married-civ-spouse        Tech-support             Wife
32557      Married-civ-spouse   Machine-op-inspct          Husband
32558                 Widowed        Adm-clerical        Unmarried
32559           Never-married        Adm-clerical        Own-child
32560      Married-civ-spouse     Exec-managerial             Wife

                      Race   Gender  Capital-Gain  Capital-Loss  \
0                    White     Male          2174             0
1                    White     Male             0             0
2                    White     Male             0             0
3                    Black     Male             0             0
4                    Black   Female             0             0
5                    White   Female             0             0
6                    Black   Female             0             0
7                    White     Male             0             0
8                    White   Female         14084             0
9                    White     Male          5178             0
10                   Black     Male             0             0
11      Asian-Pac-Islander     Male             0             0
12                   White   Female             0             0
13                   Black     Male             0             0
14      Asian-Pac-Islander     Male             0             0
15      Amer-Indian-Eskimo     Male             0             0
16                   White     Male             0             0
17                   White     Male             0             0
18                   White     Male             0             0
19                   White   Female             0             0
20                   White     Male             0             0
21                   Black   Female             0             0
22                   Black     Male             0             0
23                   White     Male             0          2042
24                   White   Female             0             0
25                   White     Male             0             0
26                   White     Male             0             0
27      Asian-Pac-Islander     Male             0             0
28                   White     Male             0             0
29                   White     Male             0             0
...                    ...      ...           ...           ...
32531   Asian-Pac-Islander   Female             0             0
32532                White     Male             0             0
32533   Asian-Pac-Islander     Male             0             0
32534                White   Female             0             0
32535                Black     Male             0             0
32536                White   Female             0             0
32537                Black     Male             0             0
32538                Black   Female         15020             0
32539                White     Male             0             0
32540                White   Female             0             0
32541                Black   Female             0             0
32542                White     Male             0             0
32543                White   Female             0             0
32544                Other   Female             0             0
32545                White   Female             0             0
32546                White   Female             0             0
32547                White     Male             0             0
32548                White     Male          1086             0
32549                White   Female             0             0
32550                White     Male             0             0
32551   Amer-Indian-Eskimo     Male             0             0
32552                White     Male             0             0
32553   Asian-Pac-Islander     Male             0             0
32554                White     Male             0             0
32555                White     Male             0             0
32556                White   Female             0             0
32557                White     Male             0             0
32558                White   Female             0             0
32559                White     Male             0             0
32560                White   Female         15024             0

       Hours-per-Week     Citizenship Income50K
0                  40   United-States     <=50K
1                  13   United-States     <=50K
2                  40   United-States     <=50K
3                  40   United-States     <=50K
4                  40            Cuba     <=50K
5                  40   United-States     <=50K
6                  16         Jamaica     <=50K
7                  45   United-States      >50K
8                  50   United-States      >50K
9                  40   United-States      >50K
10                 80   United-States      >50K
11                 40           India      >50K
12                 30   United-States     <=50K
13                 50   United-States     <=50K
14                 40               ?      >50K
15                 45          Mexico     <=50K
16                 35   United-States     <=50K
17                 40   United-States     <=50K
18                 50   United-States     <=50K
19                 45   United-States      >50K
20                 60   United-States      >50K
21                 20   United-States     <=50K
22                 40   United-States     <=50K
23                 40   United-States     <=50K
24                 40   United-States     <=50K
25                 40   United-States      >50K
26                 40   United-States     <=50K
27                 60           South      >50K
28                 80   United-States     <=50K
29                 40   United-States     <=50K
...               ...             ...       ...
32531              99   United-States     <=50K
32532              60   United-States      >50K
32533              50           Japan      >50K
32534              39   United-States     <=50K
32535              35   United-States     <=50K
32536              55   United-States      >50K
32537              46   United-States     <=50K
32538              45   United-States      >50K
32539              10   United-States      >50K
32540              40   United-States     <=50K
32541              32   United-States     <=50K
32542              25   United-States     <=50K
32543              48   United-States     <=50K
32544              30   United-States     <=50K
32545              20   United-States      >50K
32546              40   United-States     <=50K
32547              40          Mexico     <=50K
32548              60   United-States     <=50K
32549              40   United-States     <=50K
32550              50   United-States     <=50K
32551              40   United-States     <=50K
32552              45   United-States     <=50K
32553              11          Taiwan     <=50K
32554              40   United-States      >50K
32555              40   United-States     <=50K
32556              38   United-States     <=50K
32557              40   United-States      >50K
32558              40   United-States     <=50K
32559              20   United-States     <=50K
32560              40   United-States      >50K

[32561 rows x 15 columns]

In [40]:
print(adultIncome_df.columns)
print(adultIncome_df.shape)

Index(['Age', 'Workclass_Local-gov', 'Workclass_Never-worked',
       'Workclass_Private', 'Workclass_Self-emp-inc',
       'Workclass_Self-emp-not-inc', 'Workclass_State-gov',
       'Workclass_Without-pay', 'Workclass_Workclass-Other', 'FNL-Wgt',
       'Education-Years', 'Marital Status_Married-AF-spouse',
       'Marital Status_Married-civ-spouse',
       'Marital Status_Married-spouse-absent', 'Marital Status_Never-married',
       'Marital Status_Separated', 'Marital Status_Widowed',
       'Occupation_Armed-Forces', 'Occupation_Craft-repair',
       'Occupation_Exec-managerial', 'Occupation_Farming-fishing',
       'Occupation_Handlers-cleaners', 'Occupation_Machine-op-inspct',
       'Occupation_Occupation-Other', 'Occupation_Other-service',
       'Occupation_Priv-house-serv', 'Occupation_Prof-specialty',
       'Occupation_Protective-serv', 'Occupation_Sales',
       'Occupation_Tech-support', 'Occupation_Transport-moving',
       'Relationship_Not-in-family', 'Relationship_Other-relative',
       'Relationship_Own-child', 'Relationship_Unmarried', 'Relationship_Wife',
       'Race_Asian-Pac-Islander', 'Race_Black', 'Race_Other', 'Race_White',
       'Gender_Male', 'Capital-Gain', 'Capital-Loss', 'Hours-per-Week',
       'Citizenship_Canada', 'Citizenship_China',
       'Citizenship_Citizenship-Other', 'Citizenship_Columbia',
       'Citizenship_Cuba', 'Citizenship_Dominican-Republic',
       'Citizenship_Ecuador', 'Citizenship_El-Salvador', 'Citizenship_England',
       'Citizenship_France', 'Citizenship_Germany', 'Citizenship_Greece',
       'Citizenship_Guatemala', 'Citizenship_Haiti',
       'Citizenship_Holand-Netherlands', 'Citizenship_Honduras',
       'Citizenship_Hong', 'Citizenship_Hungary', 'Citizenship_India',
       'Citizenship_Iran', 'Citizenship_Ireland', 'Citizenship_Italy',
       'Citizenship_Jamaica', 'Citizenship_Japan', 'Citizenship_Laos',
       'Citizenship_Mexico', 'Citizenship_Nicaragua',
       'Citizenship_Outlying-US(Guam-USVI-etc)', 'Citizenship_Peru',
       'Citizenship_Philippines', 'Citizenship_Poland', 'Citizenship_Portugal',
       'Citizenship_Puerto-Rico', 'Citizenship_Scotland', 'Citizenship_South',
       'Citizenship_Taiwan', 'Citizenship_Thailand',
       'Citizenship_Trinadad&Tobago', 'Citizenship_United-States',
       'Citizenship_Vietnam', 'Citizenship_Yugoslavia', 'Income50K_>50K'],
      dtype='object')
(32561, 86)
   Age Workclass_Local-gov Workclass_Never-worked Workclass_Private  \
0   39                   0                      0                 0
1   50                   0                      0                 0
2   38                   0                      0                 1
3   53                   0                      0                 1
4   28                   0                      0                 1

  Workclass_Self-emp-inc Workclass_Self-emp-not-inc Workclass_State-gov  \
0                      0                          0                   1
1                      0                          1                   0
2                      0                          0                   0
3                      0                          0                   0
4                      0                          0                   0

  Workclass_Without-pay Workclass_Workclass-Other  FNL-Wgt      ...        \
0                     0                         0    77516      ...
1                     0                         0    83311      ...
2                     0                         0   215646      ...
3                     0                         0   234721      ...
4                     0                         0   338409      ...

   Citizenship_Puerto-Rico Citizenship_Scotland Citizenship_South  \
0                        0                    0                 0
1                        0                    0                 0
2                        0                    0                 0
3                        0                    0                 0
4                        0                    0                 0

  Citizenship_Taiwan Citizenship_Thailand Citizenship_Trinadad&Tobago  \
0                  0                    0                           0
1                  0                    0                           0
2                  0                    0                           0
3                  0                    0                           0
4                  0                    0                           0

  Citizenship_United-States Citizenship_Vietnam Citizenship_Yugoslavia  \
0                         1                   0                      0
1                         1                   0                      0
2                         1                   0                      0
3                         1                   0                      0
4                         0                   0                      0

  Income50K_>50K
0              0
1              0
2              0
3              0
4              0

[5 rows x 86 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 86 columns):
Age                                       32561 non-null int64
Workclass_Local-gov                       32561 non-null category
Workclass_Never-worked                    32561 non-null category
Workclass_Private                         32561 non-null category
Workclass_Self-emp-inc                    32561 non-null category
Workclass_Self-emp-not-inc                32561 non-null category
Workclass_State-gov                       32561 non-null category
Workclass_Without-pay                     32561 non-null category
Workclass_Workclass-Other                 32561 non-null category
FNL-Wgt                                   32561 non-null int64
Education-Years                           32561 non-null int64
Marital Status_Married-AF-spouse          32561 non-null category
Marital Status_Married-civ-spouse         32561 non-null category
Marital Status_Married-spouse-absent      32561 non-null category
Marital Status_Never-married              32561 non-null category
Marital Status_Separated                  32561 non-null category
Marital Status_Widowed                    32561 non-null category
Occupation_Armed-Forces                   32561 non-null category
Occupation_Craft-repair                   32561 non-null category
Occupation_Exec-managerial                32561 non-null category
Occupation_Farming-fishing                32561 non-null category
Occupation_Handlers-cleaners              32561 non-null category
Occupation_Machine-op-inspct              32561 non-null category
Occupation_Occupation-Other               32561 non-null category
Occupation_Other-service                  32561 non-null category
Occupation_Priv-house-serv                32561 non-null category
Occupation_Prof-specialty                 32561 non-null category
Occupation_Protective-serv                32561 non-null category
Occupation_Sales                          32561 non-null category
Occupation_Tech-support                   32561 non-null category
Occupation_Transport-moving               32561 non-null category
Relationship_Not-in-family                32561 non-null category
Relationship_Other-relative               32561 non-null category
Relationship_Own-child                    32561 non-null category
Relationship_Unmarried                    32561 non-null category
Relationship_Wife                         32561 non-null category
Race_Asian-Pac-Islander                   32561 non-null category
Race_Black                                32561 non-null category
Race_Other                                32561 non-null category
Race_White                                32561 non-null category
Gender_Male                               32561 non-null category
Capital-Gain                              32561 non-null int64
Capital-Loss                              32561 non-null int64
Hours-per-Week                            32561 non-null int64
Citizenship_Canada                        32561 non-null category
Citizenship_China                         32561 non-null category
Citizenship_Citizenship-Other             32561 non-null category
Citizenship_Columbia                      32561 non-null category
Citizenship_Cuba                          32561 non-null category
Citizenship_Dominican-Republic            32561 non-null category
Citizenship_Ecuador                       32561 non-null category
Citizenship_El-Salvador                   32561 non-null category
Citizenship_England                       32561 non-null category
Citizenship_France                        32561 non-null category
Citizenship_Germany                       32561 non-null category
Citizenship_Greece                        32561 non-null category
Citizenship_Guatemala                     32561 non-null category
Citizenship_Haiti                         32561 non-null category
Citizenship_Holand-Netherlands            32561 non-null category
Citizenship_Honduras                      32561 non-null category
Citizenship_Hong                          32561 non-null category
Citizenship_Hungary                       32561 non-null category
Citizenship_India                         32561 non-null category
Citizenship_Iran                          32561 non-null category
Citizenship_Ireland                       32561 non-null category
Citizenship_Italy                         32561 non-null category
Citizenship_Jamaica                       32561 non-null category
Citizenship_Japan                         32561 non-null category
Citizenship_Laos                          32561 non-null category
Citizenship_Mexico                        32561 non-null category
Citizenship_Nicaragua                     32561 non-null category
Citizenship_Outlying-US(Guam-USVI-etc)    32561 non-null category
Citizenship_Peru                          32561 non-null category
Citizenship_Philippines                   32561 non-null category
Citizenship_Poland                        32561 non-null category
Citizenship_Portugal                      32561 non-null category
Citizenship_Puerto-Rico                   32561 non-null category
Citizenship_Scotland                      32561 non-null category
Citizenship_South                         32561 non-null category
Citizenship_Taiwan                        32561 non-null category
Citizenship_Thailand                      32561 non-null category
Citizenship_Trinadad&Tobago               32561 non-null category
Citizenship_United-States                 32561 non-null category
Citizenship_Vietnam                       32561 non-null category
Citizenship_Yugoslavia                    32561 non-null category
Income50K_>50K                            32561 non-null category
dtypes: category(80), int64(6)
memory usage: 4.0 MB
None

<div class="span5 alert alert-success">
    
***
# <span style = 'color:darkblue'> <center> $ \textrm {Data Wrangling} $

***
</span>
</div>

### <span style='color:darkblue'> $ \textrm {Replace '?' with 'Other' and Remove Space Characters} $ </span>

In [34]:
# Replce category name'?' with 'Other'
for col in adultIncome_df.columns:
    if adultIncome_df[col].dtype == 'object':
        adultIncome_df[col]= (adultIncome_df[col].str.strip()).str.replace('?', col+'-Other')

### <span style='color:darkblue'> $ \textrm {Convert Features with Categorical Data to Binary Values} $ </span>

In [35]:
# avoid error if column already removed
if 'Education' in adultIncome_df.columns:
    # remove column 'Education' since it is represented by 'Education-Years'
    adultIncome_df.drop(['Education'], axis = 1, inplace=True)
    print(adultIncome_df.columns)

Index(['Age', 'Workclass', 'FNL-Wgt', 'Education-Years', 'Marital Status',
       'Occupation', 'Relationship', 'Race', 'Gender', 'Capital-Gain',
       'Capital-Loss', 'Hours-per-Week', 'Citizenship', 'Income50K'],
      dtype='object')

In [36]:
# Create categorical dummies for binary columns
for col in adultIncome_df.columns:
    # skip over columns with numeric data
    if pd.api.types.is_numeric_dtype(adultIncome_df[col].dtype) == False:  
        # get dummies for each category drop first category to avoid overfitting
        dummies = pd.get_dummies(adultIncome_df[[col]], prefix_sep='_', drop_first = True)
        
        for dcol in dummies.columns:
            # convert to 'category type'
            dm_cat = dummies[dcol].astype('category')
            # insert new columns in the original data frame for analysis
            adultIncome_df.insert(adultIncome_df.columns.get_loc(col), dcol, dm_cat.values)
    
        # remove category column from dataFrame
        adultIncome_df.drop([col], axis=1, inplace=True)

In [38]:
print(adultIncome_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 86 columns):
Age                                       32561 non-null int64
Workclass_Local-gov                       32561 non-null category
Workclass_Never-worked                    32561 non-null category
Workclass_Private                         32561 non-null category
Workclass_Self-emp-inc                    32561 non-null category
Workclass_Self-emp-not-inc                32561 non-null category
Workclass_State-gov                       32561 non-null category
Workclass_Without-pay                     32561 non-null category
Workclass_Workclass-Other                 32561 non-null category
FNL-Wgt                                   32561 non-null int64
Education-Years                           32561 non-null int64
Marital Status_Married-AF-spouse          32561 non-null category
Marital Status_Married-civ-spouse         32561 non-null category
Marital Status_Married-spouse-absent      32561 non-null category
Marital Status_Never-married              32561 non-null category
Marital Status_Separated                  32561 non-null category
Marital Status_Widowed                    32561 non-null category
Occupation_Armed-Forces                   32561 non-null category
Occupation_Craft-repair                   32561 non-null category
Occupation_Exec-managerial                32561 non-null category
Occupation_Farming-fishing                32561 non-null category
Occupation_Handlers-cleaners              32561 non-null category
Occupation_Machine-op-inspct              32561 non-null category
Occupation_Occupation-Other               32561 non-null category
Occupation_Other-service                  32561 non-null category
Occupation_Priv-house-serv                32561 non-null category
Occupation_Prof-specialty                 32561 non-null category
Occupation_Protective-serv                32561 non-null category
Occupation_Sales                          32561 non-null category
Occupation_Tech-support                   32561 non-null category
Occupation_Transport-moving               32561 non-null category
Relationship_Not-in-family                32561 non-null category
Relationship_Other-relative               32561 non-null category
Relationship_Own-child                    32561 non-null category
Relationship_Unmarried                    32561 non-null category
Relationship_Wife                         32561 non-null category
Race_Asian-Pac-Islander                   32561 non-null category
Race_Black                                32561 non-null category
Race_Other                                32561 non-null category
Race_White                                32561 non-null category
Gender_Male                               32561 non-null category
Capital-Gain                              32561 non-null int64
Capital-Loss                              32561 non-null int64
Hours-per-Week                            32561 non-null int64
Citizenship_Canada                        32561 non-null category
Citizenship_China                         32561 non-null category
Citizenship_Citizenship-Other             32561 non-null category
Citizenship_Columbia                      32561 non-null category
Citizenship_Cuba                          32561 non-null category
Citizenship_Dominican-Republic            32561 non-null category
Citizenship_Ecuador                       32561 non-null category
Citizenship_El-Salvador                   32561 non-null category
Citizenship_England                       32561 non-null category
Citizenship_France                        32561 non-null category
Citizenship_Germany                       32561 non-null category
Citizenship_Greece                        32561 non-null category
Citizenship_Guatemala                     32561 non-null category
Citizenship_Haiti                         32561 non-null category
Citizenship_Holand-Netherlands            32561 non-null category
Citizenship_Honduras                      32561 non-null category
Citizenship_Hong                          32561 non-null category
Citizenship_Hungary                       32561 non-null category
Citizenship_India                         32561 non-null category
Citizenship_Iran                          32561 non-null category
Citizenship_Ireland                       32561 non-null category
Citizenship_Italy                         32561 non-null category
Citizenship_Jamaica                       32561 non-null category
Citizenship_Japan                         32561 non-null category
Citizenship_Laos                          32561 non-null category
Citizenship_Mexico                        32561 non-null category
Citizenship_Nicaragua                     32561 non-null category
Citizenship_Outlying-US(Guam-USVI-etc)    32561 non-null category
Citizenship_Peru                          32561 non-null category
Citizenship_Philippines                   32561 non-null category
Citizenship_Poland                        32561 non-null category
Citizenship_Portugal                      32561 non-null category
Citizenship_Puerto-Rico                   32561 non-null category
Citizenship_Scotland                      32561 non-null category
Citizenship_South                         32561 non-null category
Citizenship_Taiwan                        32561 non-null category
Citizenship_Thailand                      32561 non-null category
Citizenship_Trinadad&Tobago               32561 non-null category
Citizenship_United-States                 32561 non-null category
Citizenship_Vietnam                       32561 non-null category
Citizenship_Yugoslavia                    32561 non-null category
Income50K_>50K                            32561 non-null category
dtypes: category(80), int64(6)
memory usage: 4.0 MB
None

### <span style = 'color:darkblue'> $ \textrm {Pre-Process Training and Test data} $

In [460]:
# decimal places for rounding numbers
decimals = 4

# Feature columns - remove target columns from column list
feature_column_names = [c for c in adultIncome_df.columns if c!='Income50K_>50K']
target_column_name = 'Income50K_>50K'

# Use all features
X_data = adultIncome_df[feature_column_names] 
Y_data = adultIncome_df[[target_column_name]] 

# split data for training and test
X_train_data, X_test_data, Y_train_data, Y_test_data = train_test_split(X_data, \
                                                                        Y_data, \
                                                                        test_size = 0.0017, \
                                                                        random_state = 42)
SampleSize = X_test_data.shape[0]
print('SampleSize:     %d' % SampleSize)
featureCount = len(adultIncome_df.columns) - 1
print('Feature Count :', featureCount)

SampleSize:     56
Feature Count : 85